@import "_normalize";

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5
  color: $color-gray;
}

p, span {
  font-size: 1.6rem;
}

.header {
  font-size: 7rem;
  font-weight: bold;
  line-height: 7rem;
  margin-bottom: 1rem;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--white {
    color: #fff;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--dark {
    color: $color__text-main;
  }

  &--solo {
    padding: 0.5rem 8rem 0.2rem 8rem;
  }
}

.btn {
  min-width: 20rem;
  max-width: 26rem;
  height: 4.5rem;
  margin: 0.75rem;
  padding: 1rem 2rem;
  border-style: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  background: $color-green;
  cursor: pointer;
  transition: background 0.5s;

  &-primary {
    background: $color-green;

    &--inverse {
      border: 3px solid $color-green;
      color: $color-green;
      background: white;

      &:hover {
        border-color: $color-green-blue;
        color: $color-green-blue;
      }
    }

    &:hover {
      background: $color-green-blue;
    }
  }

  &:disabled {
    background: $color-gray;
    cursor: not-allowed;
  }

  &--settings {
    color: $color-gray;
    border: 1px $color-gray solid;
    background: white;

    &:hover {
      color: white;
      background: $color-gray;
    }
  }

  &--settings-disable {
    color: $color-gray-light;
    border: 1px $color-gray-light solid;
    background: white;
    cursor: default;
  }

  &-red {
    background: $color-red;

    &:hover {
      border-color: $color-green-blue;
      color: $color-green-blue;
    }
  }

  &--micro {
    height: 2.5rem;
    margin: 0.75rem;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &--link {
    border: none;
    text-decoration: underline;
    height: 2.5rem;
    margin: 0.75rem;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &--inactive {
    cursor: not-allowed !important;
    opacity: .3;
  }
}

a {
  text-decoration: underline;
  color: $color-gray;
}

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
