.navMenu {
    background-color: grey;
    width: 250px;
    height: 30vh;
    display: flex;
    justify-content: center;
    transition: 850ms;
  }

  .navMenuItems {
    width: 100%;
  }

  .navText {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
    font-size: 40px;
  }