.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  height: auto;
  color: $color-gray;

  &__group {
    margin-bottom: 1.8rem;
    position: relative;

    &--points {
      align-self: center;
      width: 20rem;
      text-align: center;
      margin-top: 2.5rem;
    }
  }

  &__radio-group {
    padding-left: 0rem;
    position: relative;

    & :not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__label {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;

    &--hidden {
      display: none;
    }

    &--radio {
      font-size: 2rem;
      padding-left: 0.5rem;
    }
  }

  &__points-control {
    margin-top: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__input {
    width: 100%;
    color: $color-gray;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 1rem;
    font-size: 2rem;
    resize: none;

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent;
      }

      + div.form__helper-text {
        opacity: 1;
        transform: translateY(-42%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      }
    }

    &--select {
      width: 100%;
    }

    &--invalid {
      background: rgba(255, 192, 203, 0.4);
    }

    &--points {
      width: 6.7rem;
      height: 6rem;
      padding: 1rem;
      text-align: center;
    }
  }

  &__helper-text {
    width: auto;
    position: absolute;
    white-space: nowrap;
    top: 95%;
    font-size: 1.2rem;
    left: 0.5rem;
    transform: translateY(-100%);
    padding: 0.5rem 0.7rem;
    background: $color-green-light;
    color: $color-gray;
    border-radius: 15px;
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  &__icon {
    color: $color-green;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    &:hover {
      color: $color-green-blue;
    }
  }

  > .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: $color-gray-light;
    align-self: center;
    margin-bottom: 2rem;
  }

  &__image-btn {
    display: block;
    text-decoration: underline;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
  }
}
