.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  height: auto;
  color: $color-gray;
  &__group {
    margin-bottom: 1.5rem;
    position: relative;
  }

  &__radio-group {
    padding-left: 0rem;
    position: relative;

    & :not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__label {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;

    &--hidden {
      display: none;
    }

    &--radio {
      font-size: 2rem;
      padding-left: 0.5rem;
    }
  }

  &__input,
  &__select {
    width: 100%;
    color: $color-gray;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 1rem;
    font-size: 2rem;
    resize: none;

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent;
      }

      + div.form__helper-text {
        opacity: 1;
        transform: translateY(-40%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      }
    }
  }

  &__helper-text {
    width: auto;
    position: absolute;
    white-space: nowrap;
    top: 95%;
    transform: translateY(-100%);
    padding: 0.5rem 0.7rem;
    background: $color-green-light;
    color: $color-gray;
    border-radius: 15px;
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}
