.list {
  width: 100%;
  font-size: 1.6rem;

  &--dash {
    height: 73rem;
  }

  &--groups {
    height: 73rem;
  }

  &__col {
    width: 10%;
    display: flex;
    // &--lg {
    //   width: 100%;
    // }

    &-name {
      &--dash {
        width: 12rem;
      }
    }

    &-kudos {
      &--dash {
        width: 7rem;
      }
    }

    &-img {
      width: 7rem;
    }
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__header {
    width: 70%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    flex: none;
    margin-right: 3rem;
    position: relative;
    padding-right: 1rem;

    &--groups {
      margin-left: 5rem;
    }

    &-icon::after {
      font-family: FontAwesome;
      font-weight: 900;
      font-size: 1.5rem;
      content: "\f078";
    }
  }

  &__action-btns {
    width: 9rem;
    position: relative;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  &__items-container {
    overflow-y: scroll;

    &--groups {
      height: 67rem;
    }

    &--dash {
      height: 67rem;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-gray-light;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &__item-container {
    display: flex;
  }

  &__item-checkbox {
    height: 9rem;
    display: flex;
    align-items: center;
    margin: 1.5rem 0rem;
    margin-right: 1rem;
    justify-content: center;
    width: 4rem;
  }

  &__item {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-gray-light;
    margin: 1.5rem 0rem;
    padding-right: 1rem;
    position: relative;
  }

  &__checkbox {
    position: absolute;
    left: 2rem;

    &--inactive {
      display: none;
    }
  }

  &__details {
    width: 70%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: none;
    margin-right: 3rem;
    position: relative;
  }

  &__img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;

    &--prize {
      border-radius: 5%;
    }
  }

  &__name {
    width: 12rem;
  }

  &__btns {
    width: 7rem;
  }

  &__btn {
    cursor: pointer;
    background: none;
    border: none;
  }

  &__overlay-select-container {
    position: relative;
  }

  &__overlay-select {
    font-size: 1.6rem;
    width: 16rem;
    top: 5rem;
    right: 1rem;
    height: 8rem;
    position: absolute;
    background: rgba(111, 111, 111, 0.9);
    border-radius: 5%;
    visibility: visible;
    z-index: 999;
    color: white;
    visibility: hidden;

    &--active {
      visibility: visible;
    }

    & > ul {
      list-style: none;
      padding-left: 0.7rem;
      padding-bottom: 0.5rem;
    }
  }

  &__overlay-select-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;

    > a {
      text-decoration: none;
      color: white;

      &:hover {
        color: #f4a76d;
      }
    }
  }
}
