.dashboard {
  display: grid;
  padding: 4rem;
  grid-template-rows: 2rem 37rem 37rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    "utility utility"
    "groups treasure"
    "groups extra";
}

.dashboard--student {
  display: grid;
  padding: 4rem;
  grid-template-rows: 55rem 55rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    "prizes points"
    "wishes pending";
  height: 130rem;
}

.dashboard-panel-treasure {
  font-weight: bold;
  grid-area: treasure;

  & > .panel__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .icon-treasure {
      position: relative;
      top: 1rem;
    }
  }

  &__links {
    position: relative;
    top: 2.5rem;
    text-align: center;

    & > p {
      margin: 1rem;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.dashboard-lorem {
  grid-area: extra;
}

.dashboard-groups {
  grid-area: groups;
}

.dashboard-panel-points {
  font-weight: bold;
  grid-area: points;

  & > .panel__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .icon-treasure {
      position: relative;
      top: 1rem;
    }
  }

  &__links {
    position: relative;
    top: 2.5rem;
    text-align: center;

    & > p {
      margin: 1rem;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.dashboard-panel-prizes {
  font-weight: bold;
  grid-area: prizes;

  & > .panel__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .icon-treasure {
      position: relative;
      top: 1rem;
    }
  }

  &__links {
    position: relative;
    top: 2.5rem;
    text-align: center;

    & > p {
      margin: 1rem;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.dashboard-panel-wishes {
  font-weight: bold;
  grid-area: wishes;
}

.dashboard-pending {
  grid-area: pending;
  padding-top: 3rem;
}

