$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color-primary: #169fff;
$color-secondary: #a452ff;
$color-secondary--dark: #9a42f7;
$color-tertiary: #ffa800;
$color-quaternary: rgb(52, 230, 177);
$color-black: #000;
$color-yellow: #ecdd7b;
$color-green: #84d397;
$color-green-light: #cde7be;
$color-green-blue: #73c0b3;
$color-gray: #707070;
$color-gray-light: #cecece;
$color-gray-lighter: #fafafa;

$color-orange: #f4a76d;
$color-gray-light: #f0f0f0;

$color-green-gradient: linear-gradient(
  to right,
  rgba(132, 211, 151),
  rgb(132, 211, 198)
);

$color-tertiary-bg: rgba(255, 168, 0, 0.85);
